*.log
freerdp3-x11/
freerdp3-x11-dbg/
libfreerdp-client3/
libfreerdp-server3/
libfreerdp3-dev/
libfreerdp3/
libwinpr3-dev/
libwinpr3/
tmp/
*.substvars
.debhelper/
files
freerdp3-shadow-x11-dbg/
freerdp3-shadow-x11/
freerdp3-dev/
libfreerdp-client3-dbg/
libfreerdp-server3-dbg/
libfreerdp3-dbg/
libwinpr3-dbg/
winpr-utils-dbg/
winpr-utils/
freerdp3-wayland-dbg/
freerdp3-wayland/
libfreerdp-shadow3-dbg/
libfreerdp-shadow3/
debhelper-build-stamp
libxfreerdp-client3
libxfreerdp-client3-dbg
libwinpr-tools3
